* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 50px;
}

main {
    width: 410px;
    height: 710px;
    margin: 25px auto;
    padding: 100px 25px 25px;
    background-color: black;
    border: 5px solid silver;
    border-radius: 50px;
}

.memory {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    width: 100%;
    overflow: hidden;
    height: 30px;
    margin-bottom: 7.5px;
}

.memory p {
    font-size: 20px;
    padding: 5px;
    text-align: right;
    justify-content: center;
    color: white;
}

.input_container {
    margin-top: 30px;
}

input[name=number_input] {
    width: 350px;
    height: 75px;
    font-size: 75px;
    text-align: end;
    background-color: black;
    color: white;
    border: 0;
}

.button_container {
    margin-top: 25px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 35px;
    color: white;
    border-radius: 100%;
    border: 1px solid black;
    margin: 0 2.25px 10px;
}

.operators_white {
    color: black;
}

.operators {
    background-color: orange;
}

.numbers {
    background-color: gray;
}

#zero {
    width: 168.5px;
    border-radius: 50px;
}